In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Titanic_Dataset/train.csv")

In [3]:
df.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [6]:
pd.get_dummies(df, columns=["Sex"], dtype=int).head(3)

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_female,Sex_male
0,1,0,3,"Braund, Mr. Owen Harris",22.0,1,0,A/5 21171,7.2500,NaN,S,0,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",38.0,1,0,PC 17599,71.2833,C85,C,1,0
2,3,1,3,"Heikkinen, Miss. Laina",26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1,0

In [8]:
from sklearn.preprocessing import OneHotEncoder

In [29]:
one_hot_encoder = OneHotEncoder(sparse_output=False)
encoded_gender = one_hot_encoder.fit_transform(df[['Sex']])
encoded_gender

array([[0., 1.],
       [1., 0.],
       [1., 0.],
       ...,
       [1., 0.],
       [0., 1.],
       [0., 1.]])

In [21]:
one_hot_encoder.categories_

[array(['female', 'male'], dtype=object),
 array(['C', 'Q', 'S', nan], dtype=object)]

In [30]:
one_hot_encoder.inverse_transform(
    [[1,0],
    [0, 1]]
)

array([['female'],
       ['male']], dtype=object)

In [31]:
df1 = pd.DataFrame(encoded_gender, columns = one_hot_encoder.categories_[0])

In [32]:
df1.head(2)

   female  male
0     0.0   1.0
1     1.0   0.0

In [34]:
one_hot_encoder1 = OneHotEncoder(sparse_output=False)
encoded_gender1 = one_hot_encoder1.fit_transform(df[['Embarked']])
encoded_gender1

array([[0., 0., 1., 0.],
       [1., 0., 0., 0.],
       [0., 0., 1., 0.],
       ...,
       [0., 0., 1., 0.],
       [1., 0., 0., 0.],
       [0., 1., 0., 0.]])

In [36]:
one_hot_encoder1.categories_

[array(['C', 'Q', 'S', nan], dtype=object)]