# Python Loop Statements

In Python, loops are used to execute a block of code repeatedly. There are two types of loops in Python: for loops and while loops.

## 1. Python For Loop

The `for` loop is used in Python to iterate over a sequence of values, such as a list, tuple, string, or range. The basic syntax of a `for` loop is as follows:

Syntax:
```python
for item in items:
    do somethings
```

The `item` is a new variable that is created with each iteration of the loop, and takes on the value of the next element in the `items`. The code block that follows the `for` statement is executed for each value in the `items`.

Here's an example of how to use the `for` loop to iterate over a list:

In [1]:
fruits = ['apple',"banana","cherry"]

In [2]:
for each in fruits:
    print(f"Fruit {each}")

print("completed")

Fruit apple
Fruit banana
Fruit cherry
completed

The `range` function is commonly used in `for` loops to generate a sequence of integers. Here's an example:

In [4]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
list(range(10,100,5))

[10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [8]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

*
**
***
****
*****

In [15]:
for i in range(1,6):
    print("*" * i)

*
**
***
****
*****

`Nested for` loops can also be used to iterate over multiple sequences. Here's an example:

In [20]:
adj = ['red','big','tasty']
fruits = ['apple',"banana","cherry"]

In [21]:
for a in adj:
    for f in fruits:
        print(a, f)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

Multiple args in for loop

In [3]:
person = {
    "name" : "vince",
    "age" : 30,
    "gender" : "male"
}
person_list = list(person.items())
person_list

[('name', 'vince'), ('age', 30), ('gender', 'male')]

In [4]:
for each in person_list:
    print(each)

('name', 'vince')
('age', 30)
('gender', 'male')

In [5]:
for (key, value) in person_list:
    print(f"Key: {key} = {value}")

Key: name = vince
Key: age = 30
Key: gender = male

In [12]:
coord = [[1,2,3],[4,5,6],[2,4,9]]
print(coord)

[[1, 2, 3], [4, 5, 6], [2, 4, 9]]

In [14]:
for (x, y, z) in coord:
    print(x,y,z)

1 2 3
4 5 6
2 4 9

### Write a Program to Display the Multiplication Table of a Given Number:
Create a Python program that asks the user to enter an integer, and then prints the multiplication table for that number from 1 to 10. Use a for loop to generate and display the table.

In [21]:
i = int(input("enter a number"))

for x in range(1,11):
    print(f"{i} x {x} = {x*i}")

enter a number 8

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

### Python program to seperate even and odd numbers from a series of numbers

numbers = [2,5,3,6,7,33,5,8,68,0,12,4,6,66,9,101,55,32,89]

In [24]:
odd, even = [] , []

numbers = [2,5,3,6,7,33,5,8,68,0,12,4,6,66,9,101,55,32,89]
for num in numbers:
    if num % 2 != 0:
        odd.append(num)
    else:
        even.append(num)

print(f"Even Numbers are: {even}")
print(f"Odd Numbers are: {odd}")

Even Numbers are: [2, 6, 8, 68, 0, 12, 4, 6, 66, 32]
Odd Numbers are: [5, 3, 7, 33, 5, 9, 101, 55, 89]

# Single line if .. else

<True expression> if <condition> else < False expression>

if <condition>
    <True code-block>
else
    <False code-block>

In [25]:
odd, even = [] , []

numbers = [2,5,3,6,7,33,5,8,68,0,12,4,6,66,9,101,55,32,89]
for num in numbers:
    odd.append(num) if num % 2 != 0 else even.append(num)

print(f"Even Numbers are: {even}")
print(f"Odd Numbers are: {odd}")

Even Numbers are: [2, 6, 8, 68, 0, 12, 4, 6, 66, 32]
Odd Numbers are: [5, 3, 7, 33, 5, 9, 101, 55, 89]